<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-3">
            <strong> fzefzfr </strong>
            <select class="form-control" [(ngModel)]="ClickDropdown">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="80">80</option>
            </select>
        </div>
    </div>
</div>


<div class="container" *ngFor="let beer of BeerData">

    <div class="card">

        <div class="card-header">
            <h2>{{beer.name}}</h2>
        </div>

        <div class="card-block" *ngIf="BeerData">
            <div class="row">
                <div class="col-10">
                    <ul class="list-group">
                        <li class="list-group-item">
                            tagline:
                            <strong>{{beer.tagline}}</strong>
                        </li>
                        <li class="list-group-item">
                            id:
                            <strong>{{beer.id}}</strong>
                        </li>
                        <li class="list-group-item">
                            name:
                            <strong>{{beer.name}}</strong>
                        </li>
                        <li class="list-group-item">
                            description:
                            <strong>{{beer.description}}</strong>
                        </li>
                        <li class="list-group-item">
                            first brewed:
                            <strong>{{beer.firstBrewed}}</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-1 col-md-auto row align-items-center">
                    <li class="list-group-item">
                        <img src="{{beer.image}}" alt="Beer image" height="225" />
                    </li>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>


<!--
<h1>Beer API</h1>
<br>
-->