<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <links>
        <div class="navbar-nav mr-auto">

            <li class="nav-item" [routerLinkActive]="['active']">
                <a class=" nav-link active waves-light" [routerLink]="['/home']" mdbRippleRadius>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class=" nav-link active waves-light" [routerLink]="['/beer']" mdbRippleRadius>Search Beer<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class=" nav-link active waves-light" [routerLink]="['/food']" mdbRippleRadius>Search Food<span class="sr-only">(current)</span></a>
            </li>
            <!--
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class=" nav-link waves-light" [routerLink]="['/route']" mdbRippleRadius>route</a>
            </li>-->
        </div>  
    </links>
  </mdb-navbar>