<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <links>
        <div class="navbar-nav mr-auto">

            <li class="nav-item" [routerLinkActive]="['active']">
                <a class=" nav-link active waves-light" [routerLink]="['/home']" mdbRippleRadius>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class=" nav-link active waves-light" [routerLink]="['/beer']" mdbRippleRadius>Search Beer<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class=" nav-link active waves-light" [routerLink]="['/food']" mdbRippleRadius>Ingredients<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class=" nav-link active waves-light" [routerLink]="['/meals']" mdbRippleRadius>meals<span class="sr-only">(current)</span></a>
            </li>
        </div>  

        <a class="btn my-0 waves-light" href="http://localhost:4200/logout" mdbWavesEffect>Logout</a>

    </links>
</mdb-navbar>