<div class="container" *ngFor="let beer of BeerData">

    <div class="card">

        <div class="card-header">
            <h2>{{beer.name}}</h2>
        </div>

        <div class="card-block" *ngIf="BeerData">


            <ul class="list-group">
                <li class="list-group-item">
                    tagline:
                    <strong>{{beer.tagline}}</strong>
                </li>
                <li class="list-group-item">
                    description:
                    <strong>{{beer.description}}</strong>
                </li>
                <li class="list-group-item">
                    food pairings:
                    <strong>
                        <a *ngFor="let food of beer.foodPairings">{{food}} , </a>
                    </strong>
                </li>
                <li class="list-group-item">
                    first brewed:
                    <strong>{{beer.firstBrewed}}</strong>
                </li>
                <li class="list-group-item">
                    Id:
                    <strong>{{beer.id}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>