<br>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-2">
            <button type="button" class="btn btn-indigo waves-light" mdbWavesEffect (click)="ClickBack()">back</button>
        </div>
        <div class="col-2">
            items per page:
            <select class="form-control" [(ngModel)]="ClickDropdown">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="80">80</option>
            </select>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-indigo waves-light" mdbWavesEffect (click)="ClickNext()">next page</button>
        </div>
    </div>
</div>



<div class="container" *ngFor="let beer of BeerData">

    <div class="card">

        <div class="card-header">
            <h2>{{beer.name}}</h2>
        </div>

        <div class="card-block" *ngIf="BeerData">
            <div class="row">
                <div class="col-10">
                    <ul class="list-group">
                        <li class="list-group-item">
                            tagline:
                            <strong>{{beer.tagline}}</strong>
                        </li>
                        <li class="list-group-item">
                            description:
                            <strong>{{beer.description}}</strong>
                        </li>
                        <li class="list-group-item">
                            food pairings:
                            <strong><a *ngFor="let food of beer.foodPairings">{{food}} , </a></strong>                            
                        </li>
                        <li class="list-group-item">
                            first brewed:
                            <strong>{{beer.firstBrewed}}</strong>
                        </li>
                        <li class="list-group-item">
                            Id:
                            <strong>{{beer.id}}</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-1 col-md-auto row align-items-center">
                    <li class="list-group-item">
                        <img src="{{beer.image}}" alt="Beer image" height="225" />
                    </li>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>


<div class="container">
    <div class="row justify-content-between">
        <div class="col-2">
            <button type="button" class="btn btn-indigo waves-light" mdbWavesEffect (click)="ClickBack()">back</button>
        </div>

        <div class="col-2">
            <button type="button" class="btn btn-indigo waves-light" mdbWavesEffect (click)="ClickNext()">next page</button>
        </div>
    </div>
</div>
<br>


